<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>&copy; {{ "now"|date("Y") }} <a href="https://{{ site.domain }}">Spyregia GmbH</a>. Alle Rechte vorbehalten.</p>
    </section>
</section>
