{% set logo = theme_var(mobile ? 'custom_logo_mobile' : 'custom_logo') %}
<a class="navbar-brand" href="{{ base_url == '' ? '/' : base_url }}" style="display:flex; align-items:center; gap:0.5rem; text-decoration:none;">
  <img src="{{ url('theme://images/spyregia.png') }}" alt="Logo" style="height:75px; vertical-align:middle; margin-right:8px;">
</a>
